# python

*.DS_Store
*.pyc

# auth
*.key

# logfiles
*.log
*.zip

# raw data shouldnt be added to repo, but structure is useful
project/data/*.md
project/data/*.txt
project/data/*.yaml
project/data/preprocessed/*.yaml
project/data/preprocessed/*.txt
project/data/preprocessed/overfit/*.yaml
project/data/_raw
project/data/data/full
project/data/data/short
project/data/indexes

# glove vectors
project/utils/glove/

project/data.*

venv/
