absl-py==0.2.2
bleach==1.5.0
certifi==2018.4.16
html5lib==0.9999999
Markdown==2.6.11
nltk==3.3
numpy==1.14.5
protobuf==3.5.2
pyaml==17.12.1
PyYAML==3.12
ruamel.yaml==0.15.40
six==1.11.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
tqdm==4.23.4
Werkzeug==0.14.1
